<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EECS_Project_3</title>
    <script src="{{url_for('static', filename='index.js')}}"></script>
</head>
<body>
    A simple dashboard <br>
    <div id="countdown">Updating Data in: 60 seconds</div><br>
    Total number of collected repositories <br>
    <ul>
        <li id="req1-language1">Language1: 0</li>
        <li id="req1-language2">Language2: 0</li>
        <li id="req1-language3">Language3: 0</li>
      </ul><br>

    
    <img id="req2-plot" src="" alt="Chart" height="auto" width="50%"><br>

    <img id="req3-plot" src="" alt="Chart" height="auto" width="50%"><br>

    Total 10 most frequesnt words <br>
    <ul>
        <li id="req4-language1"></li>
        <li id="req4-language2"></li>
        <li id="req4-language3"></li>
      </ul><br>

</body>
</html>