<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EECS_Project_3</title>
    <script src="{{url_for('static', filename='index.js')}}"></script>
</head>
<body>
    A simple dashboard <br>
    <div id="countdown">Updating Data in: 60 seconds</div><br>
    Total number of collected repositories <br>
    <ul>
        <li id="language1">Language1: 0</li>
        <li id="language2">Language2: 0</li>
        <li id="language3">Language3: 0</li>
      </ul>

    
    <img id="req2-plot" src="" alt="Chart" height="auto" width="50%">
</body>
</html>